{
	"plugins": [
		"stylelint-scss"
	],
	"rules": {
		"unit-case": "lower",
		"unit-blacklist": "em",

		"property-case": "lower",
		"property-no-unknown": true,

		"string-quotes": "double",
		"string-no-newline": true,

		"block-no-empty": true,
		"comment-no-empty": true,
		"length-zero-no-unit": true,

		"color-named": "never",
		"color-hex-case": "upper",
		"color-hex-length": "short",
		"color-no-invalid-hex": true,

		"number-leading-zero": "never",
		"number-no-trailing-zeros": true,

		"no-extra-semicolons": true,
		"no-duplicate-selectors": true,
		"no-descending-specificity": true,

		"selector-type-case": "lower",
		"selector-type-no-unknown": true,
		"selector-attribute-quotes": "always",
		"selector-pseudo-class-no-unknown": true,
		"selector-pseudo-element-no-unknown": true,

		"function-name-case": "lower",
		"function-whitespace-after": "always",
		"function-calc-no-unspaced-operator": true,

		"font-weight-notation": "numeric",
		"font-family-name-quotes": "always-where-required",

		"value-keyword-case": "lower",
		"value-list-comma-space-after": "always-single-line",

		"shorthand-property-no-redundant-values": true,

		"declaration-block-trailing-semicolon": "always",
		"declaration-block-no-duplicate-properties": true,
		"declaration-block-no-redundant-longhand-properties": true,
		"declaration-block-semicolon-space-after": "always-single-line"
	}
}